<div id="film_update_{{ film.pk }}" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Nouveau film</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'cinetix:film-update' film.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
					<div class="row">
						<div class="col-sm-9">
							<div class="form-group">
								<label for="titre">Titre : </label>
								<input type="text" class="form-control" name="titre" value="{{ film.titre }}">
							</div>
						</div>
                        <div class="col-sm-3">
							<div class="form-group">
								<label for="evaluation">Evaluation : </label>
								<input type="number" class="form-control" name="evaluation" value="{{ film.evaluation }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="genres">Genres : </label>
								<input type="hidden" name="genres" id="n_genres" value="{{ film.genres }}">
								<select name="n_gg" id="n_gg" multiple class="form-control">
									<option value="action">Action</option>
									<option value="drama">Drama</option>
									<option value="comedy">Comedy</option>
									<option value="thriller">Thriller</option>
									<option value="horror">Horror</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="acteur">Acteur :</label>
								<input type="hidden" name="acteur" id="n_acteur" value="{{ film.acteur }}">
								<select name="n_aa" id="n_aa" multiple class="form-control">
									<option value="Jason Statham">Jason Statham</option>
									<option value="Tom Holland">Tom Holland</option>
									<option value="Gal Gadot">Gal Gadot</option>
									<option value="Tony jah">Tony jah</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="synopsis">Synopsis : </label>
								<input type="text" class="form-control" name="synopsis" value="{{ film.synopsis }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="trailer">Trailer : </label>
								<input type="file" class="form-control" name="trailer" value="{{ film.trailer }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="posteur">Posteur : </label>
								<input type="file" class="form-control" name="posteur" value="{{ film.posteur }}">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="commentaires">commentaires : </label>
								<input type="text" class="form-control" name="commentaires" value="{{ film.commentaires }}">
							</div>
						</div>
					</div>
				
					<div class="submit-section">
						<button type="submit" class="btn btn-primary submit-btn">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>