{% extends 'base/base.html' %}
{% block title_1 %} Film {% endblock title_1 %}
{% block title_2 %} Film {% endblock title_2 %}
{% block title_3 %} Liste des films {% endblock title_3 %}

{% block boutton_create %}
<div class="col-auto float-right ml-auto">
    <a href="" class="btn add-btn" data-toggle="modal" data-target="#film_create"><i class="fa fa-plus"></i> Film </a>
</div>
{% endblock boutton_create %}

{% block content %}
<div class="row staff-grid-row">
    {% csrf_token %}
    {% for film in films %}

        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
            <div class="profile-widget">
                <div class="profile-img">
                    <a href="#"data-toggle="modal" data-target="#" class="avatar"><img src="/{{film.posteur}}" alt="image"></a>
                </div>
                    <div class="dropdown profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#film_update_{{ film.pk }}"><i class="fa fa-pencil m-r-5"></i> Modifier</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#film_delete_{{ film.pk }}"><i class="fa fa-trash m-r-5"></i> Supprimer</a>
                        </div>
                    </div>
                <div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis">{{ film.titre }}</h4>
                    <h6 class="user-name text-muted">{{ film.genres }}</h6>
                    <input data-role="rating" data-value="{{ film.evaluation }}">
                </div>
            </div>
        </div>

        {% include 'cinetix/film/film_update.html' %}
        {% include 'cinetix/film/film_delete.html' %}
            
    {% endfor %}	
</div>
{% endblock content %}


{% block modal_create %}
    {% include 'cinetix/film/film_create.html' %}
{% endblock modal_create %}


{% block extrascript %}

{% endblock extrascript %}