{% extends 'base/base.html' %}
{% block title_1 %} Film {% endblock title_1 %}
{% block title_2 %} Projection {% endblock title_2 %}
{% block title_3 %} Films complets {% endblock title_3 %}

{% block boutton_create %}
<div class="col-auto float-right ml-auto">
    <a href="" class="btn add-btn" data-toggle="modal" data-target="#proj_create"><i class="fa fa-plus"></i> Projection </a>
</div>
{% endblock boutton_create %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table datatable" id="myTable">
                <thead>
                    <!-- <tr> -->
                    <th>Film</th>
                    <th>Evaluation</th>
                    <th>Date</th>
                    <th>Place</th>
                    <th>Prix d'entrer</th>
                    <th class="text-right no-sort">Action</th>
                    <!-- </tr> -->
                </thead>
                <tbody>
                {% csrf_token %}
                {% for proj in projection %}
                
                    <tr>
                        <td>
                            <h2 class="table-avatar">
                                <a href=" " data-toggle="modal" data-target="#film_view_{{ proj.film.pk }}" class="avatar"><img alt="image" class="avatar" src="/{{ proj.film.posteur }}"></a>
                                <a href=" " data-toggle="modal" data-target="#film_view_{{ proj.film.pk }}"> {{ proj.film.titre }} <span> {{ proj.film.genres }} </span></a>
                            </h2>
                        </td>														
                        <td> {{ proj.film.evaluation }} étoiles </td>
                        <td> {{ proj.timings }} </td>
                        <td> {{ proj.place_proj }} </td>
                        <td> {{ proj.paf }} </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href=""><i class="fa fa-pencil m-r-5"></i> Modifier</a>
                                    <a class="dropdown-item" href=""><i class="fa fa-trash-o m-r-5"></i> Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                        
                    {% include 'cinetix/film/film_view.html' %}
                        
                {% endfor %}

                   
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock content %}


{% block modal_create %}
    {% include 'cinetix/projection/proj_create.html' %}
{% endblock modal_create %}


{% block extrascript %}
<script>
    document.querySelectorAll('.video_btn').forEach(video_btn => {
        const video = video_btn.querySelector('input');
        const playButton = video_btn.querySelector('.fa_btn');
    
        playButton.addEventListener('click', () => {
            document.querySelector('.container-v').style.display = 'block';
            document.querySelector('.popup-video').style.display = 'block';
            document.querySelector('.popup-video video').src = video.getAttribute('value');
        });
    });

    document.querySelector('.popup-video span').onclick = () => {
        document.querySelector('.container-v').style.display = 'none';
        document.querySelector('.popup-video').style.display = 'none';
        document.querySelector('.popup-video video').muted = 'true';
    }

    
</script>
{% endblock extrascript %}